# requirements.txt

# Core LangChain - let pip choose the latest compatible versions
langchain
langchain-community
langchain-pinecone
langchain-huggingface
langchain-text-splitters
# LLM & Embeddings Libraries
sentence-transformers
# Using a specific compatible transformers version for broader support
transformers>=4.38
# CTransformers with CUDA support if needed. Or use 'ctransformers' for CPU.
ctransformers
tokenizers

# Other dependencies
pinecone-client==2.2.2
pypdf
flask
huggingface-hub

